/* Colors 
	#C5C1C0 Screen
	#0A1612 Steel
	#1A2930 Denim
	#F7CE3E Marigold
*/
html {
  box-sizing: border-box;
}
body {
	background-color: #C5C1C0;
}

#header	{
	width: 800px;
	height: 150px;
	margin-left:auto;
  	margin-right:auto;
	margin-top: 20px;
}

#portrait_div {
	height: 150px;
	float: left;
}

#portrait {
    height:146px; 
    float: left;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color:#0A1612;
    display: none;
}

#name {
	height:150px; 
	float: left;
	margin-left: 50px;
	display:inline-block;
}

#name h1 {
    font-family: 'Concert One', cursive;
    color:#0A1612;
    font-size: 4em;
	text-align: center;
	margin: 25px;
}

#menuOuter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#menu {
	height: 30px;
	margin-left:auto;
  	margin-right:auto;
	margin-top: 10px;

}

#resume {
	float: left;
	margin-left:45px;
	margin-top:90px;

}

#resumetooltiptext {
	visibility: visible;

}

.myButton {
	-moz-box-shadow: 6px 11px 14px -7px #0a1612;
	-webkit-box-shadow: 6px 11px 14px -7px #0a1612;
	box-shadow: 6px 11px 14px -7px #0a1612;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f7cf3e), color-stop(1, #9c811f));
	background:-moz-linear-gradient(top, #f7cf3e 5%, #9c811f 100%);
	background:-webkit-linear-gradient(top, #f7cf3e 5%, #9c811f 100%);
	background:-o-linear-gradient(top, #f7cf3e 5%, #9c811f 100%);
	background:-ms-linear-gradient(top, #f7cf3e 5%, #9c811f 100%);
	background:linear-gradient(to bottom, #f7cf3e 5%, #9c811f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7cf3e', endColorstr='#9c811f',GradientType=0);
	background-color:#f7cf3e;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#0a1612;
	font-family: 'Concert One', cursive;
	font-size:20px;
	padding:0px 28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #0a1612;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9c811f), color-stop(1, #f7cf3e));
	background:-moz-linear-gradient(top, #9c811f 5%, #f7cf3e 100%);
	background:-webkit-linear-gradient(top, #9c811f 5%, #f7cf3e 100%);
	background:-o-linear-gradient(top, #9c811f 5%, #f7cf3e 100%);
	background:-ms-linear-gradient(top, #9c811f 5%, #f7cf3e 100%);
	background:linear-gradient(to bottom, #9c811f 5%, #f7cf3e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9c811f', endColorstr='#f7cf3e',GradientType=0);
	background-color:#9c811f;
}
.myButton:active {
	position:relative;
	top:1px;
}

.infoBox {
	width: 900px;
	height: 800px;
	clear:left;
	padding-top: 25px;
	padding-right: 25px;
	padding-left: 25px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
	margin-bottom: 15px;
	background-color:  #1A2930;
	border-radius: 10px;
	overflow-y: auto;
}


.infoBox h1 {
	font-family: 'Concert One', cursive;
	color: #C5C1C0;
}

.infoBox p {
	font-family: 'Open Sans', sans-serif;
	color: #F7CE3E;
}

.infoBox h2 {
	font-family: 'Concert One', cursive;
	color: #C5C1C0;
}

.infoBox li {
	font-family: 'Open Sans', sans-serif;
	color: #F7CE3E;
}

.programEntry a {
	font-family: 'Open Sans', sans-serif;
	color: #F7CE3E;
}

.portfolioEntry {
	display: flex;
	clear: right;
	height: 125px;
	width: 850px;
	position:relative;
	margin-bottom: 20px;
	justify-content: space-between;
}

.portfolioIcon {
	margin-right: 20px;
	clear: left;
	height: 125px;
	width: 125px;
	display:inline-block;
}

.item-image {
	height:125px;
	width:125px;
}

.portfolioText {
	display:inline-block;
	height: 125px;
	width: 650px;
	clear:right;
	float: right;
	margin: 0;
    position: absolute;
    top: 50%;
    left: 60%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#experience h2 {
	font-family: 'Open Sans', sans-serif;
	color: #C5C1C0;
	font-size: 2em;
	margin: 0 0 6px 0; 
	position: relative;
	margin-left: 30px;
	margin-right: 30px;
}

#experience h2 span {
	position: absolute; 
	bottom: 0; 
	right: 0; 
	font-style: italic; 
	color: #C5C1C0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px; 
	font-weight: normal;
}
#experience p {
	margin-left: 30px;
	margin-right: 30px;	
}

#experience li {
	margin-left: 30px;
	margin-right: 30px;	
}

#footer {
	width:100%;
	clear:both;
	text-align: center;
}

@media only screen and (max-width: 800px) {

}